p{
  color: #EAEAEA;
  
  }

.fontStyle{
  font-family: papyrus;
  font-size: 15px;
}

.center{
  text-align: center;
}

.navbar-brand{
    font-size: 170%;
    font-family: candara;
    letter-spacing: 1px;
}

#bgImg{
  background: url("../img/diary-2.jpg");
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
  /*position: relative;*/
  
}

.headingStyle{
  padding-top: 100px;
  font-family: century gothic;
  color: #EAEAEA;
  font-weight: bold;
}

.message{
  margin-top: 60px;
}

.firstQuote{
  padding-top: 120px;
}

.quotes{
  padding-top: 20px;
}

.textStyle{
  margin-top: 80px;
}
